* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(20, 20, 20);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  min-height: 200vh;
}
#entete {
  display: flex;
  justify-content: center;
  background: rgba(15, 15, 15);
  border-bottom: 1px solid rgba(201, 152, 26);
}

#entete h1 {
  font-weight: 600;
  letter-spacing: 2px;
  color: rgba(201, 152, 26);
  padding: 2rem;
}

nav {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: rgba(15, 15, 15, 0.78);
  backdrop-filter: blur(16px);
  display: flex;
  align-items: center;
  z-index: 99;
  overflow: hidden;
  border-bottom: 1px solid rgba(201, 152, 26);
}
nav .liens {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

nav li {
  list-style: none;
}

nav a {
  color: rgba(201, 152, 26);
  text-decoration: unset;
  padding: 3rem 1rem;
  height: 100%;
  border-radius: 20px;
  transition: 350ms;
  margin: 0 1px;
}

nav a:hover {
  background-color: rgba(201, 152, 26);
  color: black;
}

#recherche {
  width: 100%;
  background-color: rgba(15, 15, 15);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5rem 0;
  margin: 3rem 0;
  margin-right: 1rem;
  justify-content: end;
  color: rgba(201, 152, 26);
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  width: 90%;
  margin: auto;
}

main a {
  text-decoration: unset;
  color: black;
}

button {
  padding: 0.5rem 1rem;
  background: rgb(22,83,162);
background: linear-gradient(90deg, rgba(22,83,162,1) 0%, rgba(49,115,223,1) 41%, rgba(30,217,255,1) 100%);
  color: rgb(20, 20, 20);
  border: unset;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(49, 162, 255);
}

.champion {
  position: relative;
  width: 20rem;
  height: 25rem;
  transition-property: box-shadow, transform;
  background-color: white(217, 125, 245);
  transition-duration: 350ms;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
  justify-content: center;
  align-items: center;
  margin: 1rem;
  overflow: hidden;
  border-radius: 3px;
}

.infos {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.555);
  backdrop-filter: blur(50px);
  transform: translateY(-6.5rem);
  transition: 350ms;
}

.infos * {
  padding: 0.5rem 1rem;
}

.infos h1 {
  color: rgb(255, 237, 177);
  font-size: 2.5rem;
}

.infos h2,
p {
  color: rgb(255, 237, 177);
  font-size: 1rem;
}

.champion:is(:hover, :focus) {
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
  transform: scale(110%);
  border: 1px solid rgba(201, 152, 26);
}

.champion:is(:hover, :focus) .infos {
  transform: translateY(-100%);
}

.details {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(201, 152, 26);
}

.details h1 {
  font-weight: 400;
  letter-spacing: 1px;
}
.details h2 {
  font-weight: 300;
  letter-spacing: 1px;
}

#addForm{
  margin: 10px;
  padding: 2rem;
  border: 1px solid rgba(201, 152, 26);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#addForm *{
  margin: 1rem 0;
}

input {
  margin: 10px;
  background-color: rgb(20, 20, 20);
  border: 1px solid rgba(201, 152, 26);
  color: rgb(255, 237, 177);
  padding: 0.5rem;
}

textarea {
  margin: 10px;
  padding: 0.5rem;
  color: rgb(255, 237, 177);
  background-color: rgb(20, 20, 20);
  border: 1px solid rgba(201, 152, 26);
}

select{
  color: rgb(255, 237, 177);
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(20, 20, 20);
  border: 2px solid rgba(49,115,223,1);
}

.image {
  height: 100%;
  transform: translateX(-50%);
}

.imgContainer {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 400px;
  overflow: hidden;
}

.focusedImage {
  transform: translateY(10%);
}

#focusedChampion {
  margin-top: 5rem;
}
#focusedChampion > h1 {
  letter-spacing: 1px;
}



.addContainer{
  margin-top: 5rem;
  flex-direction: column;
  gap: 3rem;
  color: rgb(255, 237, 177);
}